:host {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--bg);
  border-radius: 8px;
  padding: 8px 16px;
}

.close-btn {
  position: absolute;
  top: -0.3em;
  right: -0.3em;
}
