<app-text-wrapper>
  <h2>Nyheter</h2>
  @if (userStore.user()?.role === 'admin') {
    <a routerLink="/news/add" routerLinkActive="active">
      <button class="btn" type="button">Lägg till nyhet</button>
    </a>
  }
  @for (news of store.news(); track news.uuid) {
    <div>
      <h4 className="title" [innerText]="news.title"></h4>
    </div>
    <div className="news-text" [innerHTML]="news.text"></div>
    @if (user()?.role === 'admin') {
      <a routerLink="/news/edit/{{ news.uuid }}" routerLinkActive="active">
        <button class="btn" type="button">Ändra</button>
      </a>
    }
  }
  @if (store.isLoading()) {
    <p>Laddar...</p>
  } @else {
    <button class="btn" (click)="showNumNewsChanged()">Ladda fler</button>
  }
</app-text-wrapper>
