@use 'sass:math';
@use './variables' as *;

$baseline: 1.5rem;

$minScreen: 20rem;
$maxScreen: 50rem;
$minFont: 0.8rem;
$maxFont: 2rem;

$h1: 2rem;
$h2: 1.5rem;
$h3: 1.25rem;
$h4: 1rem;
$h5: 0.875rem;

html,
#root,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  text-rendering: optimizeLegibility;
}
