$blue-200: rgb(15, 15, 30);
$blue-160: rgb(36, 36, 58);
$blue-100: rgb(96, 96, 134);
$blue-40: rgb(160, 160, 201);
$blue-0: rgb(204, 204, 243);

$light-link: #000080;
$mobile: 600px; // Screen min
$desktop: 1200px; // Screen max
$header-height: 5rem;
$navigation-height: 4rem;

$light-link: navy;
$dark-blue: $blue-200;
$light-blue: rgb(88, 0, 255);
$teal: rgb(87, 175, 202);
$pink: rgb(233, 0, 255);
$yellow: rgb(255, 198, 0);
